.checkout-table {
    width: 60vw;
    margin: 0 auto;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        border-bottom: 1px solid black;
        font-size: 20px;
    }

    &__product {
        img {
            width: 150px;
            height: 200px;
        }
    }

    &__quantity {
        display: flex;
        align-items: center;
    }

    button {
        background: transparent;
        border: none;
        cursor: pointer;
        font-weight: bold;
        font-size: 26px;
        margin: 10px;
    }
}