.shop-category-error {
    text-align: center;

    &__image {
        width: 40px;
        height: 40px;
    }

    &__text {
        margin: 20px;
    }
}

.shop-category-title {
    font-size: 28px;
    margin-bottom: 40px;
    text-align: center;
}

.shop-category {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
}